* {
	color: whitesmoke;
}
/* texto hero image */
.hero_titulo {
	font-size: 4.5rem;
}
.hero_desc {
	font-size: 2rem;
}
.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}
.bgimage{
	height: 100vh;
	background: url('img/heroImage.jpg');
	background-size: cover;
	position: relative;
	border: 3px solid whitesmoke;
}

/* imagem sobre */

.imagemSobre {
	width: 100%;
}

/* serviços */

.servicesText.card{
	height: 280px;
	cursor: pointer;
	background-color: black;
	border: 1px solid whitesmoke;
}

.servicesIcon {
	font-size: 36px;
	text-align: center;
	width: 100%;
}

.card-title {
	text-align: center;
}

.card:hover .servicesIcon{
	color: hotpink;
}

.card-body {
	background-color: black;
	border: 1px solid whitesmoke;
}

.servicesText:hover {
	border: 2px solid hotpink;
}

/* menu */
.navbar {
	background-color: #866B7B;
}
.navbar a {
	color: white;
}
.navbar a:hover {
	color: hotpink;
}

.contactIcon{
	font-size: 56px;
	color: #006342;
}

.glass {
	height: 40%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
}

#sobre, #servicos, #habilidades, #portfolio, #portfolio2, #contato {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.fa-brands {
	color: hotpink;
}

.bg-dark {
	background-color: #1C1919 !important;
}

.btn-success {
	background-color: #866B7B !important;
	border: 2px solid whitesmoke !important;
}